.notification
  .notice
    チャットグループが作成されました。

.wrapper
  .side-bar
    .header
      %h3.header__name
        yukiagatsuma
      %ul.header__lists
        %li.list
          = link_to "" do
            %i.fa.fa-pencil-square-o.icon
        %li.list
          = link_to "" do
            %i.fa.fa-cog.icon
    .groups
      = render "group"

  .chat
    .header
      .left-header
        .left-header__title
          test
        %ul.left-header__members
          Member&nbsp;:&nbsp;
          %li.member
            yukiagatsuma
      .right-header
        %a.right-header__button{ href: "/" }
          Edit
    .messages.js-messages
      = render "message"

    .form
      %form.js-form#new_message{ action: "", method: "post"}
        %input.form__message.js-content{placeholder: "type a message", type: "text", name: "message[content]", id: "message_content"}
        .form__mask
          %label.upload-label{for: "upload-icon"}
            %i.fa.fa-picture-o
              %input.hidden.js-file#upload-icon{ type: "file", name: "message[image]"}
      %input.form__submit{ type: "submit", name: "commit", value: "Send"}
